.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

// Default table styling
.searchDefault {
  table, th, td {
    border: 1px solid black;
    text-align: center;
    table-layout: fixed;
    margin-top: 10px;
  }
  th {
      background-color: #384da0;
      color: white;
      overflow: hidden;
  }
  tr:nth-of-type(even) {
    background-color:#E3E3E3;
  }
  .sort-asc, .sort-desc{
    color: black;
  }
}

// user selectable option for table styling
.searchMidnight {
  table, th, td {
    border: 1px solid black;
    text-align: center;
    table-layout: fixed;
    margin-top: 10px;
  }
  th {
      background-color: black;
      color: white;
      overflow: hidden;
  }
  tr:nth-of-type(even) {
    background-color: black;
    color: white;
  }
  tr:nth-of-type(odd) {
    background-color: #A1A1A1;
    color: white;
  }
  .sort-asc, .sort-desc{
    color: black;
  }
}

// user selectable option for table styling
.searchEmerald {
  table, th, td {
    border: 1px solid black;
    text-align: center;
    table-layout: fixed;
    margin-top: 10px;
  }
  th {
      background-color: darkgreen;
      color: white;
      overflow: hidden;
  }
  tr:nth-of-type(even) {
    background-color: green;
    color: white;
  }
  tr:nth-of-type(odd) {
    background-color: lightgreen;
    color: white;
  }
  .sort-asc, .sort-desc{
    color: black;
  }
}

// user selectable option for table styling
.searchBlues {
  table, th, td {
    border: 1px solid black;
    text-align: center;
    table-layout: fixed;
    margin-top: 10px;
        color: white;
  }
  th {
      background-color: darkblue;
      color: white;
      overflow: hidden;
  }
  tr:nth-of-type(even) {
    background-color: blue;
    // color: white;
  }
  tr:nth-of-type(odd) {
    background-color: lightblue;
    // color: white;
  }
  .sort-asc, .sort-desc{
    color: black;
  }
}
