<div ng-include="'components/navbar/navbar.html'"></div>

<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header> -->

<div class="row">
  <div class="col-md-6">
    <label>Search by Name</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Enter full or partial name here." ng-model="nameSearch">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="searchByName1()">Search</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div class="row col-md-11">
  <div class="col-md-6 jumbotron">
    <label>Select collections you wish the search:</label>
    <div class="input-group">
      <label class="col-md-6" ng-repeat="col in collection_tables">&nbsp;
        <input type="checkbox" checklist-model="to_search.collections" checklist-value="col"> {{col.title}}
      </label>
    </div><!-- /input-group -->
    <button class='col-md-6 pull-right' ng-click="uncheckAll()">uncheck all</button>
    <button class='col-md-6 pull-right' ng-click="checkAll()">check all</button>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div class="col-md-12" ng-show="tableParams.data.length > 0" ng-class="userStyle.css_class">
  <table ng-table="tableParams" class="table" export-csv="csv">
    <tr ng-repeat="record in $data">
      <td data-title="'Name'" sortable="'_id'">{{record._id}}</td>
      <td data-title="'Type'" sortable="'table'">{{record.table}}</td>
      <td data-title="'Number of Credits'" sortable="'titleSum'">{{record.titleSum}}</td>
      <!-- <td data-title="'txEnd'" sortable="'txEnd'">{{record.txEnd}}</td> -->
    </tr>
  </table>
</div>

<!-- <footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer> -->
